.options {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    margin-left: 2.5rem;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 1rem;
}

.middle {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}